<!doctype html>
<html lang="{{page.lang}}">
<head>
{{> head}}
</head>
<body>
{{> header}}

<main id="main" class="page">
  <div class="wrap">
    <div class="page-inner">
      <p class="label">{{t.support.label}}</p>
      <h1 class="page-title">{{t.support.title}}</h1>
      <p>{{t.support.p1}}</p>
      <div class="panel">
        <p>{{t.support.email_label}}: <a class="email" href="mailto:maedodeam@gmail.com">maedodeam@gmail.com</a></p>
      </div>
      <p>{{t.support.p2}}</p>

      <h2>{{t.support.privacy_title}}</h2>
      <p>{{t.support.privacy_text}}</p>
    </div>
  </div>
</main>

{{> footer}}
</body>
</html>
